:root{
    --lenient: linear-gradient(#00FF00, #0000ff);
    --standard: linear-gradient(#FFFD00, #f93a00);
    --expert: linear-gradient(#FF007E, #FA1F00);
}

@font-face {
    font-family: pillove;
    src: url(assets/pillove.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*anything to do with body*/

body {
    display:flex;
    font-family: 'pillove', Arial, sans-serif;
    font-size: 16px;
    height: 100vh;
    width: 100%;
    background-color: #0c0c0c;
}

body::-webkit-scrollbar{
    width: 0.5rem;
}

body::-webkit-scrollbar-thumb{
    background: var(--lenient);
}

.loadScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(5, 5, 5);
    color: #d7d7d7;
    z-index: 999;
    opacity: 1;
    transition: opacity 1s, visibility 1s;
}

.loadScreen--hidden{
    opacity: 0;
    visibility: hidden;
}

.stopwatchContainer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #0c0c0c;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s, visibility 0.5s;
}

.dropDown{
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


.stopwatchContainer--hidden{
    opacity: 0;
    visibility: hidden;
}
.info{
    display: flex;
    padding-top: 3vh;
    fill: rgb(90, 90, 90);
    transition: all 0.4s;
}
.info:hover{
    transform: scale(1.1);
    fill: #d7d7d7;
}

#stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle-outline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vh;
    height: 60vh;
    border-radius: 50%;
    background: var(--lenient);
}
.pulse {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    30% {
        transform: scale(0.8);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}

.middle-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vh;
    height: 55vh;
    border-radius: 50%;
    background-color: #0d0d0d;
}

.displayWorkout{
    font-size: 5vh; 
    font-weight: bold;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #d7d7d7;
}
#displayWorkoutName{
    color: rgba(215, 215, 215, 1);
}
#displayNextWorkoutName{
    color: rgba(215, 215, 215, 0.5);
}

@keyframes flashRed {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: rgba(255, 0, 0, 0.4);
    }
    100% {
        background-color: transparent;
    }
}


.flashRed {
    animation: flashRed 0.5s linear; /* Adjust duration and timing function as needed */
}
#timer {
    font-family: 'pillove', Arial, sans-serif;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d7d7d7;
    font-size: 5em; /* Adjust the font size as needed */
    margin-top: 20px; /* Add margin for spacing */
}

.btn {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    
}

.stopwatchBtn{
    margin: 0 20px; /* Adjust the margin as needed */
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background: #d7d7d7;
    transition: transform 0.5s, background 0.3s;
    border: none;
}


.stopwatchBtn:hover{
    /* background: radial-gradient(#00FF00, #0000ff);
    */
    background: rgb(255, 255, 255);
    transform: scale(1.05);
    cursor: pointer;
}
/* ------------------------everything to do with drop down menu ------------------------------------------*/

.arrow-drop-down {
    fill: green;
    display: flex;
    justify-content: center;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.arrow-rotated {
    transform:rotate(180deg);
    fill: #d7d7d7;
}

#arrow-ico{
    transition: all 0.4s;
}
#arrow-ico:hover{
    transform: scale(1.2);
    fill: #00FF00;
    cursor: pointer;
}


.settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #111111;
}




.workoutSummary {
    display: grid; 
    height: 100vh;
    width: 100vw;
    justify-content: center;
    grid-auto-flow: row dense; 
    grid-template-columns: 1.3fr 1.7fr; 
    grid-template-rows: 0.5fr  2fr 0.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      
    "options menu"
    "playlist menu"
    "utility confirm"; 

    /* border-style: solid;
    border-color: #646464; */
}
.playlist { 
    grid-area: playlist; 
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    border-color: #2f2f2f;
    border-right-style: solid;

}
.options { 
    grid-area: options; 
    display: flex;
    background-color: #212121;
    border-top-right-radius: 25px;
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
    user-select: none;
    border-color: #353535;
    border-right-style: solid;
    border-top-style: solid;
    
}
.utility { 
    grid-area: utility; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #212121;
    border-bottom-right-radius: 25px;
    border-color: #353535;
    border-right-style: solid;
    border-bottom-style: solid;
}

.utility button{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    width: 10vh;
    height: 5vh;
    border-radius: 15px;
    border: none;
    background-color: #00c313;
    align-items: center;
    transition: all 0.1s;
}

.utility button:hover{
    width: 15vh;
    cursor: pointer;
}

.utility button:active{

    background-color: #00ff1a;
}

#browse{
    width: 50%;
    margin-left: 15%;
    margin-right:15%
}



.menu { 
    grid-area: menu; 
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #d7d7d7;
    height: 100%;

}

.hints{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    border-style: solid;
    border-color: #646464;
    overflow-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.confirm button{
    width: 35vh;
    height: 5vh;
    border-radius: 15px;
    border: none;
    background-color: #00c313;
    
    transition: all 0.01s;
}

.confirm button:active{
    /* width: 34vh;
    height: 4vh; 
    border-radius: 25px;*/
    border: none;
    background-color: #00ff1a;
    
}

.confirm { 
    grid-area: confirm; 
    
    display: flex;
    justify-content: center;    
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.workoutOptions {
    display: flex;
    flex-direction: column;
   
    align-items: center;
    width: 20vh;
    height: 100vh;
    background-color: #212121;
    overflow-y: scroll;
 
}

.options::-webkit-scrollbar,
.playlist::-webkit-scrollbar {
    height: 6px;
}

.options::-webkit-scrollbar-thumb,
.playlist::-webkit-scrollbar-thumb {
    background-color: #26c038;
    border-radius: 50px;
}

.workoutItem {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d7d7d7;
    height: 70%;
    min-width: 200px;
    margin-right: 10px;
    border-radius: 15px;

    opacity: 1;
    border-style: solid;

    user-select: none;
    transition: background-color 0.4s;
}
.workoutItem:hover{
    background-color: #abd4b0;
    cursor: move;
}

.workoutInfo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 5vw;
    background-color:darkgrey ;
}



.difficulty{
    display: flex;
    justify-content: center;
    align-items: center;
    height:25%;
    width: 50%;
    border-radius: 15px ;

}

#difficultySlider{
    appearance: none;
    -webkit-appearance: none; 
    width: 75%;
    height: 25%;
    background-color: #1b1b1b;
    border-radius: 15rem;
    cursor: e-resize;
    
}

#difficultySlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12vh;
    height: 12vh; 
    background: var(--thumb-color, green); 

    border-radius: 50%; 
    transition : all 0.3s;
}

#difficultySlider::-webkit-slider-thumb:hover{
    width: 13vh;
    height: 13vh; 
}


#confirmBtn{
    justify-content: center;
    align-items: center;
    width: 30vh;
    height: 8vh;
    background-color: #00ff1a;
    border-radius: 50px;
    cursor: pointer;
}



.browse {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 43.5%;
    height: 100%;
    z-index: 999;
    background-color: rgb(22, 22, 22);
    transition: all 0.5s;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-style: solid;
    border-color: #d7d7d7;
    opacity: 1;
    visibility: visible;
}
.exit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    width: 30%;
    height: 10%;
    fill: #d7d7d7;
    transition: all 0.4s;
}
#browseExit{
    top: 0;
    right: 0;
    width: 10vh;
    height: 5vh;
    fill: #d7d7d7;
    transition: all 0.4s;

}
.browse--hidden {
    width: 0vh;
    height: 0vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.browsePlaylists{
    height: 80vh;
    width: 90%;
    background-color: #7c0000;
    overflow-y: scroll;
}

.playlistOptions{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: italic;
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #027000;
    align-items: center;
    justify-content: space-evenly;
    border-style: solid;
    border-color: #027000;
    
}

.playlistOptions:hover{
    
    background-color: #03b400;
}